/*
- [ ] UI/UX considerations (how are we going to use this)

nice contrasting color pallet
a form that doenst look like its from a circa 2001 webpage


advanced content
state changing styling
*/

/*
	FLEXBOX CONTAINER
	guide: https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/
.container1 {
	display: flex;
}

/*
	TABLE STYLING 
*/
table {
	width: 500px;
	margin-left: 30px;
	border-collapse: collapse;
}

.title {
	width: 30%;
}

.note {

}


tr:hover {
	background-color:#f5f5f5;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}





/*
	FORM STYLING 
	TODO: validation checking styling 
*/

input {
  margin-bottom: 10px;
  width: 200px;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}

textarea {
  width: 500px;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  margin-bottom: 10px;
}


#statusLabel {
	margin-bottom: 10px;
}

/*
BUTTON STYLING
*/

button.button {
	margin-right: 20px;
	margin-bottom: 10px;
    display: inline-block;
  padding: 7px 15px;
  font-size: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 3px #999;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}